@font-face
{
font-family: WireOne;
src: url('../font/WireOne.ttf');
}

body{
	background-color: white;
	color:black;
	font-family: WireOne;
	font-size: 23px;
}

#banner{
	font-size: 50px;
}

#header{
	padding:10px 50px 10px 20px;
	font-size: 23px;
	text-align: right;
}

#content{
	display: flex;
	justify-content:center;
	margin-top: 30px;
	margin-bottom: 30px;
}

#footer{
	text-align: center;
	font-size:20px; 
}

a{
	text-decoration: none;
	color:white;
}

li{
	list-style: none;
	font-family: 
}

.list{
	color:white;
	margin-right: 50px;
}

.placeholder{
	width:300px;
	height:300px;
}

.description{
	text-align: center;
}