@font-face
{
	font-family: Beauty;
	src: url('../font/字酷堂清楷体.ttf');
}

body{
	background-color: white;
	color:black;
	font-family: Beauty;
	font-size: 23px;
}

a{
	text-decoration: none;
	color:black;
}

#banner{
	font-size: 50px;
	padding: 10px 10px;
	margin-bottom: 5px;
}

#container{

}

#header{
	padding: 10px 50px 10px 20px;
	font-size: 23px;
	text-align: right;
}

#content{
	margin-top: 150px;
	margin-bottom: 220px;
	display: flex;
	justify-content: center;
}

#footer{
	text-align: center;
	font-size: 18px; 
}

.instruction{
	text-align: center;
	font-size: 20px;
	border: 2px solid black;
	padding: 2px;
}

.triangleUp{
	margin-left: 20px;
	margin-bottom: 20px;
	width: 0px;
	height: 0px;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 86.61px solid black;

	transition:2s;
}

.underline{
	line-height: 10px;
	transition: 1s;
}

div.triangleUp:hover {
	transform:rotateY(360deg);
	-moz-transform:rotateY(360deg); /* Firefox 4 */
	-webkit-transform:rotateY(360deg); /* Safari and Chrome */
	-o-transform:rotateY(360deg); /* Opera */
}

a.underline:hover{
	text-decoration: underline;
}